<a href="https://colab.research.google.com/github/Kartikgc9/Assignments/blob/main/Assignment1_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Kartik Awadh Yadav")

Kartik Awadh Yadav

ASSIGNMENT 1.1

In [ ]:
a = "Kartik Awadh Yadav"
b = "Name"
b = a * 3                   #assignment1.1
print(b)

Kartik Awadh YadavKartik Awadh YadavKartik Awadh Yadav

In [ ]:
a = 100
b = 234
c = a + b
print(c)

334

In [ ]:
a = "Kartik"
b = "Awadh"
c = a + b
print(c)

KartikAwadh

In [ ]:
a = "Kartik"
b = 123
c = a + str(b)
print(c)

Kartik123

ASSIGNMENT 2.1

In [ ]:
a = 342
b = 567
c = 56                #assignment2.1
d = a + b + c
print(d)

965

ASSIGNMENT 2.2

In [ ]:
a = "Kartik"
b = "Awadh"
c = "Yadav"           #assignment 2.2
d = a + b + c
print(d)

KartikAwadhYadav

In [ ]:
a = input("enter first number: ")
b = input("enter second number: ")
c = a + b
print(a , "+" , b , "=>" , c)

enter first number: 34
enter second number: 32
34 + 32 => 3432

In [ ]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = a + b
print(a , "+" , b , "=>" , )

Enter first number: 9
Enter second number: 8
9 + 8 => 17

**LOOP**

In [ ]:
i = 1
while i <= 10:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i <= 16:
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

RANGE **FUNCTION**

In [ ]:
print ("range(10)     ---> " , list(range(10)))
print ("range(10,20)  ---> " , list(range(10,20)))
print ("range(0,20,2) ---> " , list(range(0,20,2)))

range(10)     --->  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
range(10,20)  --->  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
range(0,20,2) --->  [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

FOR **LOOP**

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
for i in range(0,-10,-1):
  print(i)

0
-1
-2
-3
-4
-5
-6
-7
-8
-9

In [ ]:
for i in range(1,11):
  print(5,"*" , i , " = " , i * 5)

5 * 1  =  5
5 * 2  =  10
5 * 3  =  15
5 * 4  =  20
5 * 5  =  25
5 * 6  =  30
5 * 7  =  35
5 * 8  =  40
5 * 9  =  45
5 * 10  =  50

In [ ]:
s = 0
for i in range(1,11):
  s = s + i
  print("sum is --> " , s)

sum is -->  1
sum is -->  3
sum is -->  6
sum is -->  10
sum is -->  15
sum is -->  21
sum is -->  28
sum is -->  36
sum is -->  45
sum is -->  55

In [ ]:
print("sum is -- > " , sum(range(1,11)))

sum is -- >  55

ASSIGNMENT **4.1**

In [ ]:
for i in range(1,11):
  print(7 ," * " , i , "=" , i * 7)

7  *  1 = 7
7  *  2 = 14
7  *  3 = 21
7  *  4 = 28
7  *  5 = 35
7  *  6 = 42
7  *  7 = 49
7  *  8 = 56
7  *  9 = 63
7  *  10 = 70

ASSIGNMENT **4.2**

In [ ]:
n = int(input("Enter the value of n: "))
for i in range(1,11):
  print(n , "*" , i , "=" , n * i)

Enter the value of n: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
n = int(input("Enter the number n: "))
for i in range(1,n):
  i = 1
  c = i + n             #sum of numbers from 1 to n.
  print(c)

Enter the number n: 5
6
6
6
6

# IF-ELSE **LOOPS**

In [ ]:
a = int(input("Enter first no: "))
b = int(input("Enter second no: "))
if a > b:
  print(a , " > " , b)
else:
  print(a , " < " , b)

Enter first no: 8
Enter second no: 9
8  <  9

In [ ]:
n = int(input("Enter the number: "))
if n % 2 == 0:
  print("n is even")            #whether a number is odd or even.
else:
  print("n is odd")

Enter the number: 5
n is odd

In [ ]:
# To check whether a no is prime or not.
n = int(input("Enter the number: "))
f = 0
for i in range(2, n//2 + 1):
  if n % i == 0:
    f = 1
    break
if f == 0:
    print("Prime")

else:
    print("Not Prime")

Enter the number: 89
Prime